/*-----------------------------------------------------HEADER---------------------------------------------------------------*/
* {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    background-color: #ffffff;
    color: #74A9DB;
    border-bottom: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    display: flex;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    position: relative;
}
.header-container {
    font-family: "Inter";
    display: inline-flex;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
}
.menu-header ul li {
    display: inline-block;
    margin-right: 20px;
}
.menu-header ul li a {
    color: #636363;
    text-decoration: none;
}
.fazerpedidos {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid;
    border-color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 8px 8px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    background-color: #74A9DB;
}
/*---------------------------------------------------FOOTER-------------------------------------------------------------*/
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
    border-top: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    gap: 10px;
    padding-top: 10px;
}
.logo-footer {
    padding-top: 20px;
    padding-right: 40px;
}
.menufooter {
    margin-top: 50px;
}
.menufooter ul li {
    display: inline;
}
.menufooter ul li a {
    color: #636363;
    text-decoration: none;
    margin-right: 40px;
}
.social-icons {
    margin-top: 35px;
    display: flex;
}
.social-icons a {
    margin-left: 10px;
}
.creditos {
    text-align: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    padding-bottom: 30px;
}
/* -------------------------------------RESPONSIVO------------------------------------- */
@media screen and (max-width:780px) {
    .header-container{
        margin: 0 20vw;
        gap: 30px;
    }
    .menu-header ul {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0px;
        text-align: center;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        font-family: "Inter", sans-serif;
        border-top: 12px solid;
        border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
        gap: 0;
        padding-top: 10px;
        align-items: center;
        width: 80%vw;
    }
    .menufooter ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
    }
    .menufooter ul li a {
        margin-right: 0px;
    }
    .social-icons {
        align-items: center;
    }
    .logo-footer {
        padding-top: 20px;
        padding-right: 0;
    }
    .creditos {
        text-align: center;
        font-size: 16px;
        font-family: "Inter";
        margin: 10px 20px;
    }
    .Back_Button {
        left: 20px;
    }
}