
/*HEADER*/

* {

    background-color: #F5EBDC;
    margin: 0;
    padding: 0;

}

a {

    color: #502314;
    text-decoration: none;
    transition: 0.3s;

}


a:hover {

    opacity: 0.7;

}


.logoprincipal {

    display: flex;

}

.logo {

    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
   
    background: #F5EBDC;
    height: 14vh;

}

main {

    background: url("bg.jpg") no-repeat
    center center;
    background-size: cover;
    height: 92vh;

}

.nav-list {

    font-family: "Inter", sans-serif;
    list-style: none;
    display: flex;

}

.nav-list  li {

    list-style: 3px;
    margin-left: 32px;
    
}


.banner {

    height: 50vh;
    width:50;

}

.banner2 {

    background-color: #272727;
    height: 50vh;
    width:50;

}





/*FOOTER*/




footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    display: inline-flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;   
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-right: 40px;
}

.menu li:last-child {
    margin-right: 0;
}

.social-icons {
    margin-left: 20px;
    display: flex; /* Adiciona display flex para os ícones sociais */
}

.social-icons a {
    margin-left: 10px; /* Ajusta a margem entre os ícones */
}

.social-icons img {
    display: flex;
}

.creditos {
    margin-top: 20px;
    font-size: 14px;
}

.logo-footer {
    margin-right: 50px;
}