/*----------------------------------------------------------HEADER----------------------------------------------------------*/

* {

    background-color: #ffffff;
    margin: 0;
    padding: 0;

}


header {
    background-color: #ffffff;
    color:#74A9DB;
    padding: 10px 20px;
    border-bottom: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    font-family: "Inter", sans-serif;
    max-width: auto;
    display: inline-flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.menu-header ul li {

    display: inline-block;
    margin-right: 40px;

}

.menu-header ul li a {

    color: #636363;
    text-decoration: none;


}


.fazerpedidos {

    text-decoration: none;
    border-radius: 8px;
    border: 1px solid;
    border-color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 8px 8px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    background-color: #74A9DB;


}



/*----------------------------------------------------------BODY----------------------------------------------------------*/




.banner1-contenedor {

    max-width: 100%;
    overflow: hidden;

}

.banner1-contenedor img {
    width: 100%; 
    position: center    ;
    height: auto; 
    display: block;

}

.titulobuscar {

    font-family: "Inter";
    font-size: 40px;
    font-weight: 900;
    color: #74A9DB;
    text-align: center;

}

.subtitulobuscar {

    font-family: "Inter";
    font-size: 16px;
    font-weight: normal;
    color: #858585;
    text-align: center;

}


.comidas-container {

    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;

}


.comidaargentina {

    font-family: "Inter";
    font-size: 20px;
    font-weight: bolder;
    color: #74A9DB;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;

}

.comidabrasileira {

    font-family: "Inter";
    font-size: 20px;
    font-weight: bolder;
    color: #74A9DB;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;

}

.comidachilena{

    font-family: "Inter";
    font-size: 20px;
    font-weight: bolder;
    color: #74A9DB;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;

}

.comidacolombiana {

    font-family: "Inter";
    font-size: 20px;
    font-weight: bolder;
    color: #74A9DB;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;

}


.comidaperuana {

    font-family: "Inter";
    font-size: 20px;
    font-weight: bolder;
    color: #74A9DB;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;

}





/*----------------------------------------------------------FOOTER----------------------------------------------------------*/




footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    display: inline-flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-right: 40px;
}

.menu li:last-child {
    margin-right: 0;
}

.social-icons {
    margin-left: 20px;
    display: flex;
    /* Adiciona display flex para os ícones sociais */
}

.social-icons a {
    margin-left: 10px;
    /* Ajusta a margem entre os ícones */
}

.social-icons img {
    display: flex;
}

.creditos {
    margin-top: 20px;
    font-size: 14px;
}

.logo-footer {
    margin-right: 50px;
}