/*----------------------------------------------------------BODY----------------------------------------------------------*/
h3 {
    text-decoration: none;
}
.banner1-contenedor {
    max-width: 100%;
    overflow: hidden;
}
.banner1-contenedor img {
    width: 100%;
    position: center;
    height: auto;
    display: block;
}
.titulobuscar {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 900;
    color: #74A9DB;
    text-align: center;
    margin: 20px;
}
.subtitulobuscar {
    font-family: "Inter";
    font-size: 16px;
    font-weight: normal;
    color: #858585;
    text-align: center;
}
.comidas-container {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.comidas-container div:hover {
    transform: scale(1.1);
    transition: 1s;
}
.comidaargentina,
.comidabrasileira,
.comidachilena,
.comidacolombiana, 
.comidaperuana {
    font-family: "Inter";
    font-size: 20px;
    font-weight: bolder;
    color: #74A9DB;
    text-align: center;
    padding: 30px;
}
.destaquescontainer {
    flex-wrap: wrap;
    text-align: center;
    grid-template-columns: 500px 500px;
    display: grid;
    gap: 20px;
    overflow: visible;
    justify-content: center;
}
.opcao_1 img, 
.opcao_2 img {
    width: 100%;
    height: 400px;
    display: flex;
    object-fit: cover;
    border-radius: 25px;
}
.subtitulodestaque {
    font-family: "Inter";
    font-size: 30px;
    text-decoration: none;
    font-weight: 900;
    color: #74A9DB;
    text-align: center;
    margin-top: 10px;
}
.descripciondestaque {
    width: auto;
    font-family: "Inter";
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #3f3f3f;
    text-align: center;
}
.conferircontainer {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.conferircardapio {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid;
    border-color: #00923F;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
    background-color: #00923F;
    text-align: center;
}
/* ---------------------Mobile Body------------------ */
@media screen and (max-width :768px){
    .banner1-contenedor {
        position: grid;
        height: 190px;
        overflow:visible ;
    }
    .banner1-contenedor img {
        height: 190px;
        width: auto;
        max-width: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .comidas-container {
        width: 100%;
        flex-direction:row;        
    }
    .comidas-container div:hover {
        transform: scale(1.1);
        transition: 1s;
    }   
    .comidaargentina,
    .comidabrasileira,
    .comidachilena,
    .comidacolombiana, 
    .comidaperuana {
        font-size: 25px;
        padding: 0;
        margin: -40px;
        transform: scale(0.4);
    }
    .destaquescontainer {
        grid-template-columns: 90%;
        max-width: 100%;
        justify-content: center;
    }
    .titulobuscar {
        margin: 10px;
        font-size: 30px;
    }
    .opcao_1 img, 
    .opcao_2 img {
        width: 100%;
        height: auto;
        text-align: center;
        max-width: 100%;
        border-radius: 20px;
        margin: 10px 0 20px 0;
    }
}