footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    display: inline-flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;   
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-right: 40px;
}

.menu li:last-child {
    margin-right: 0;
}

.social-icons {
    margin-left: 20px;
    display: flex; /* Adiciona display flex para os ícones sociais */
}

.social-icons a {
    margin-left: 10px; /* Ajusta a margem entre os ícones */
}

.social-icons img {
    display: flex;
}

.creditos {
    margin-top: 20px;
    font-size: 14px;
}

.logo-footer {
    margin-right: 50px;
}