a {
    color: #74A9DB;
    text-decoration: none;
}
section {
    flex: 1;
    flex-direction: column;
    padding-bottom: 20px;
}
p {
    margin-bottom: 30px;
}
#local {
    color: #009540;
    font-weight: 800;
}
.Back_Button {
    position: relative;
    margin: 0 85% 2% 15%;
    top: 20px;
    font-size: 20px;
    color: #74A9DB;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}
.Back_Button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    border-width: 8px 8px 8px 8px;
    border-style: solid;
    border-color: transparent #74A9DB transparent transparent;
}
.Product_Container {
    width: 80%;
    margin: 0 auto 0 auto;
    overflow: visible;
}
.Subtitle {
    font-family: "Inter";
    font-size: 40px;
    text-decoration: none;
    font-weight: 900;
    color: #74A9DB;
    text-align: center;
    margin-top: 20px;
}
.Text {
    font-family: "Inter";
    font-size: 20px;
    margin: 0 auto 0 auto;
    font-weight: normal; 
    text-decoration: none; 
    display: grid;
    grid-template-columns: 50% 1fr; 
    gap: 20px;
    width: 90%;
    color: #3f3f3f;
    text-align: center;
}
.Product_Image {
    text-align: left;
    width: 100%;
    border-radius: 30px;
}
.Add_to_Cart {
    text-decoration: none;
    border-radius: 8px;
    width: 60%;
    border: 1px solid;
    margin: 2% auto 2% auto;
    border-color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 8px 8px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    background-color: #74A9DB;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
    border-top: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    gap: 10px;
    padding-top: 10px;
}
.logo-footer {
    padding-top: 20px;
    padding-right: 40px;
}
.menufooter {
    margin-top: 50px;
}
.menufooter ul li {
    display: inline;
}
.menufooter ul li a {
    color: #636363;
    text-decoration: none;
    margin-right: 40px;
}
.social-icons {
    margin-top: 35px;
    display: flex;
}
.social-icons a {
    margin-left: 10px;
}
.creditos {
    text-align: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
    .Back_Button {
        margin: 0 90% 2% auto;
    }
    .Product_Container {   
        width: 100%;
        overflow: visible;
        height: 100%;
        padding: auto;
    }
    .Text {
        width: 100%;
        margin: 0 auto 0 auto;
        font-family: "Inter";
        font-size: 18px;
        font-weight: normal;
        text-decoration: none; 
        color: #3f3f3f;
        width: 90%;
        grid-template-columns: 1fr;
        bottom: 100px; 
    }
    .Product_Image {
        width: 90%;
        border-radius: 30px;
    }
} 
@media (min-width: 779px) and (max-width: 1235px) {
    .Product_Container {   
        gap: 20px;
        width: 90%; 
        margin: 0 auto 0 auto;
        overflow: visible;
    }
    .Text {
        font-family: "Inter";
        font-size: 18px;
        font-weight: normal;
        text-decoration: none; 
        color: #3f3f3f;
        top: 10px;
        grid-template-columns: 1fr; 
    }
    .Product_Image {
        width: 100%;
        margin-top: 20px;
        border-radius: 30px;
    }   
}