* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.back-link {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
}

h1 {
    text-align: center;
    color: #4a90e2;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4a90e2;
    padding: 20px 0;
    gap: 100px;
}

.item-details {
    width: 424px;
    height: auto;
    overflow: hidden;
}

.item-details h2 {
    color: #4a90e2;
    margin: 0 0 10px;
}

.item-details p {
    margin: 0;
    line-height: 1.5;
}

.item-controls {
    display: flex;
    align-items: center;
    gap: 50px;
    text-decoration: none;
}

.remover-link {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}


.counter1{
    display: flex;
    align-items: center;
    border-radius: 8px;
  
}

#value1 {
    font-size: 1rem;
    min-width: 4rem;
    text-align: center;
    border-top: groove;
    border-bottom: groove;
    border-color: #74A9DB;
    padding: 0 1rem;
    margin-left:-5px ;
   
}

button {
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: opacity .3s;
}

.count-button {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #74A9DB;
}

#minus1 {

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#plus1 {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item-price {
    color: #333;
    margin-left: 20px;
    font-size: 18px;
    white-space: nowrap;
}

.item-price { 
    
    margin-right: 25px;
    color: #74A9DB;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: #74A9DB;
}

.advance{

    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.button-advance {

    border-radius: 8px;
    border: 1px solid;
    border-color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 8px 8px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #74A9DB;
    margin-top: 50px;
}

@media screen and (max-width :768px){

    .back-link{

        margin-left: 120px;
    }
    
    .order-item {
        flex-direction: column; 
        align-items: center; 
      }
    
      .item-details, .item-controls {
        width: 100%; 
        text-align: center;
        margin-bottom: 10px; 
      }

      .item-details p{
        visibility: hidden;
        
      }

    
      .item-controls {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: -200px;
      }
    
      .item-image img {
        max-width: 100%; 
        height: auto; 
      }
    }

