* {
    margin: 0;
}

a {
    text-decoration: none;
}
/*------------------------HEADER------------------------*/


.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
    gap: 10px;
    border-bottom: 12px solid ;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    padding-bottom: 10px;
    margin-top: 10px;
}

.menu-header {
    margin-top: 40px;
}

.menu-header ul li{
    display: inline;
    margin-right: 40px;

}

.menu-header ul li a {
    color: #636363;
    text-decoration: none;
}

.fazerpedidos {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid;
    border-color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 8px 32px;
    font-weight: 600;
    background-color: #74A9DB;
}

.fazerpedidos a {
    text-decoration: none;
    background-color: #74A9DB;
    color: #fff;
}
/*------------------------HEADER------------------------*/

/*------------------------Banner Países------------------------*/
.banner-paises img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
/*------------------------Banner Países------------------------*/

/*------------------------Bucas por Países------------------------*/
.cardapio_paises {
    margin-bottom: 30px;
}

.titulocardapio {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 900;
    color: #74A9DB;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;

}

.paises-container {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
}

.paises-container p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: bolder;
    color: #959ca3;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}
.paises-container p a {
    text-decoration: none;
    color: inherit;
}
/*------------------------Bucas por Países------------------------*/

/*------------------------Comidas Container------------------------*/
.container-comidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
    font-family: "inter";
}

.comida {
    width: calc(50% - 20px);
    max-width: 420px;
    text-align: center;
    margin: 20px 10px;
}

@media screen and (max-width: 1100px) {
    .container-comidas .comida {
        width: 100%; 
        margin: 20px auto; 
    }
}

.titulocomida {
    text-align: center;
    color: #262626;
    font-size: 39px;
    font-weight: bolder;
    margin: 10px 0;
}

.titulocomida a {
    text-decoration: none;
    color: #262626;
}

.valor {
    text-align: center;
    font-weight: bolder;
    font-size: 19px;
    margin: 10px 0;
}

.AdicionarPedido {
    text-decoration: none;
    border-radius: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 10px 10px ;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    background-color: #74A9DB;
}

.comida button a {
    text-decoration: none;
    background-color: #74A9DB;
    color: #fff;
}
/*------------------------Comidas Container------------------------*/

/*------------------------Footer------------------------*/

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
    border-top: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    gap: 10px;
    padding-top: 10px;
}

.logo-footer {
    padding-top: 20px;
    padding-right: 40px;
}

.menufooter {
    margin-top: 50px;
}

.menufooter ul li {
    display: inline;
}

.menufooter ul li a {
    color: #636363;
    text-decoration: none;
    margin-right: 40px;
}

.social-icons {
    margin-top: 35px;
    display: flex;
}

.social-icons a {
    margin-left: 10px;
}

.creditos {
    text-align: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    padding-bottom: 30px;

}

/*------------------------Footer------------------------*/