/*----------------------------------------------------------BODY----------------------------------------------------------*/



/*----------------------------------------------------------CONTATOS--------------------------------------------------*/

.titulo_contato {

    color: #74A9DB;
    font-family: "Inter";
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 80px;
}

.imagemperfil {
    padding-right: 18px;
}


.perfil1 {
    display: inline-block;
    align-items: top;
    align-items: center;
    font-family: "Inter";
    margin: 0 20px;
}

.perfil2 {
    display: inline-block;
    align-items: top;
    align-items: center;
    font-family: "Inter";
    padding-right: 32px;
}

.perfil3 {
    display: inline-block;
    align-items: top;
    align-items: center;
    font-family: "Inter";
}

.perfil4 {
    display: inline-block;
    align-items: top;
    align-items: center;
    font-family: "Inter";
    padding-right: 32px;
}

.perfil5 {
    display: inline-block;
    align-items: top;
    align-items: center;
    font-family: "Inter";
}

.nome {
    font-size: 32px;
    color: #74A9DB;
    font-weight: bold;
}

.email {
    font-size: 18px;
}


section {

    display: grid;
    place-items: center;

}




/*----------------------------------------------------------SOBRE O PROJETO--------------------------------------------------*/
.titulo_sobre_o_projeto {
    color: #74A9DB;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;

}

.boldtext {
    color: #00923F;
    font-weight: bold;

}

.texto_sobre_o_projeto {
    height: 180px;
    width: auto;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Inter";
    color: #262626;
}

.texto {
    text-align: center;
}

/*------------------------Footer------------------------*/

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
    border-top: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    gap: 10px;
    padding-top: 10px;
}

.logo-footer {
    padding-top: 20px;
    padding-right: 40px;
}

.menufooter {
    margin-top: 50px;
}

.menufooter ul li {
    display: inline;
}

.menufooter ul li a {
    color: #636363;
    text-decoration: none;
    margin-right: 40px;
}

.social-icons {
    margin-top: 35px;
    display: flex;
}

.social-icons a {
    margin-left: 10px;
}

.creditos {
    text-align: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    padding-bottom: 30px;

}

/*------------------------Mobile------------------------*/

@media screen and (max-width:780px) {

    .titulo_contato {
        margin-top: 60px;
    }


    .imagemperfil img {
        width: auto;
        align-items: center;
        padding: 0 0px;
        margin-left: 135px;
        margin-bottom: 1rem;
    }

    .imagemperfil {
        padding-right: 0px;
        align-items: center;
    }


    .perfil1 {
        display: inline-block;
        width: 100vw;
        justify-content: center;
        text-align: center;
        margin: 0 0px;
        margin-bottom: 2rem;

    }

    .perfil2 {
        display: inline-block;
        width: 100vw;
        justify-content: center;
        text-align: center;
        margin: 0 0px;
        padding: 0 0;
        margin-bottom: 2rem;
    }

    .perfil3 {
        display: inline-block;
        width: 100vw;
        justify-content: center;
        text-align: center;
        margin: 0 0px;
        margin-bottom: 2rem;
    }

    .perfil4 {
        display: inline-block;
        width: 100vw;
        justify-content: center;
        text-align: center;
        margin: 0 0px;
        padding: 0 0;
        margin-bottom: 2rem;
    }

    .perfil5 {
        display: inline-block;
        width: 100vw;
        justify-content: center;
        text-align: center;
        margin: 0 0px;
    }

    .nome {
        font-size: 18px;
        color: #74A9DB;
        font-weight: bold;
    }

    .email {
        font-size: 18px;
    }


    .texto_sobre_o_projeto {

        height: auto;
        width: auto;
        margin-right: 3vw;
        font-size: 14px;
        margin-left: 3vw;
        margin-bottom: 40px;

    }

    .texto {
        text-align: left;
    }

}