/*----------------------------------------------------------HEADER----------------------------------------------------------*/

* {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px;
}

header {
    background-color: #ffffff;
    color:#74A9DB;
    padding: 10px 20px;
    border-bottom: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header-container {
    font-family: "Inter", sans-serif;
    max-width: auto;
    display: inline-flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.menu-header ul li {
    display: inline-block;
    margin-right: 40px;
}

.menu-header ul li a {
    color: #636363;
    text-decoration: none;
}

.fazerpedidos {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid;
    border-color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 8px 8px ;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    background-color: #74A9DB;
}

/*----------------------------------------------------------BODY----------------------------------------------------------*/


.title-SAC {
    margin-top: 100px;
    width: 900px;
    color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    margin-left: 200px;
}

.subtitle-SAC {
    color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    margin-left: 0%

}

.text-SAC {
    margin-bottom: 100px;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    text-align: normal;
    margin-left: 0%;

}

.main-container {
    display: flex;
    margin-top: 50px;
    width: 1100px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.child-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    height: 503px;
    background-color: #a4cff5;
    border-radius: 20px; 
    margin-bottom: 40px;
    gap: 20px;
}

.div0 {
    background-color: transparent;
    color: #3873a6;
    font-family: "Inter";
    margin: 50px;
    z-index: 1;

}

.div1 {
    display: flex; 
    margin-top: -30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 100px;
    color: #c4d6e7;           
    font-weight: bold;       
    font-size: 50px; 
    background-color: #3873a6;
    border-radius: 20px

}

.div2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 100px;
    color: #c4d6e7;           
    font-weight: bold;       
    font-size: 50px; 
    background-color: #3873a6;
    border-radius: 20px; 
}

.div3 {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 64px;
    color: #c4d6e7;           
    font-weight: bold;       
    font-size: 50px; 
    background-color: #00923F;
    border-radius: 20px; 
}

.atendimento-title {
    text-align: center;
    background-color: transparent; 
    font-weight: bolder;
}

.fale-title {
    text-align: center;
    background-color: transparent; 
    font-weight: bolder;
}

.text0 {
    font-family: "Inter";
    text-align: center;
    font-size: 16px;
    color: #3873a6;
    background-color: transparent;
    margin-top: 20px;
    font-weight: 400;
}

.text1 {
    display: flex; 
    align-items: center;
    margin-left: 25px;
    color: #c4d6e7;           
    font-weight: bold;       
    font-size: 30px; 
    background-color: transparent;
}

.text2 {
    font-family: "Inter";
    font-size: 16px;
    color: #c4d6e7;           
    background-color: transparent;
    margin-top: 20px;
    font-weight: 400;
}

.text3 {
    display: flex; 
    align-items: center;
    margin-left: 25px;
    color: #c4d6e7;           
    font-weight: 300;     
    font-size: 16px; 
    background-color: transparent;
}

.text4 {
    font-family: "Inter";
    text-align: center;
    font-size: 16px;
    color: #3873a6;
    background-color: transparent;
    margin-top: 20px;
    font-weight: 400;
}

.div4 {
    display: flex; 
    margin-top: 40px;
    margin-left: 20px;
    flex-direction: column;
    width: 400px;
    height: 250px;          
    font-weight: bold;       
    font-size: 50px; 
    background-color: #00923F;
    border-radius: 20px; 
    z-index: 1;
}
    

.image1 {
    display: flex;
    width: 200px;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 25px;
    margin-left: 170px;
    flex-direction: column;
}

.image2 { 
    display: flex;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 170px;
    flex-direction: column; 
}

.image3 { 
    display: flex;
    transform: translate(-50%, -50%);
    width: 55%; 
    height: auto;
    margin-top: -35%;
    margin-left: 10%;
    z-index: 2; 
    background-color: transparent;
}


/*------------------------Footer------------------------*/

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Inter", sans-serif;
    border-top: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    gap: 10px;
    padding-top: 10px;
}

.logo-footer {
    padding-top: 20px;
    padding-right: 40px;
}

.menufooter {
    margin-top: 50px;
}

.menufooter ul li {
    display: inline;
}

.menufooter ul li a {
    color: #636363;
    text-decoration: none;
    margin-right: 40px;
}

.social-icons {
    margin-top: 35px;
    display: flex;
}

.social-icons a {
    margin-left: 10px;
}

.creditos {
    text-align: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    padding-bottom: 30px;

}

/*------------------------Footer------------------------*/