/*----------------------------------------------------------HEADER----------------------------------------------------------*/

* {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px;
}

header {
    background-color: #ffffff;
    color:#74A9DB;
    padding: 10px 20px;
    border-bottom: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header-container {
    font-family: "Inter", sans-serif;
    max-width: auto;
    display: inline-flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.menu-header ul li {
    display: inline-block;
    margin-right: 40px;
}

.menu-header ul li a {
    color: #636363;
    text-decoration: none;
}

.fazerpedidos {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid;
    border-color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 8px 8px ;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    background-color: #74A9DB;
}

/*----------------------------------------------------------BODY----------------------------------------------------------*/


.title-SAC {
    margin-top: 100px;
    color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    margin-left: 250px;
}

.subtitle-SAC {
    color: #74A9DB;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    margin-left: 0%;
}

.text-SAC {
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 100%;
    font-weight: 400px;
    text-align: normal;
    margin-left: 0%;
}

.main-container {
    display: flex;
    width: 1440px;
    gap: 70px;
}

.child-container {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 1000px;
    background-color: #a4cff5;
    border-radius: 20px; 
}

.div-1 {
    display: flex; 
    justify-content: flex-start;
    align-items: stretch;
    width: 600px;
    height: 180px;
    margin-left: 95px;
    color: #c4d6e7;           
    font-weight: bold;       
    font-size: 50px; 
    background-color: #3873a6;
    border-radius: 20px; 
}

.text-1 {
    display: flex; 
    align-items: center;
    margin-left: 95px;
    color: #c4d6e7;           
    font-weight: bold;       
    font-size: 50px; 
    background-color: transparent;
    
}

.child-container {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    height: 600px;
    background-color: #a4cff5;
    border-radius: 20px; 
}

/*----------------------------------------------------------FOOTER----------------------------------------------------------*/

footer {
    margin-top: 19px;
    background-color: white;
    padding: 20px 0;
    text-align: center;
    border-top: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
}

.footer-container {
    
    font-family: "Inter", sans-serif;
    max-width: auto;
    display: inline-flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.menufooter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menufooter li {
    display: inline-block;
    margin-right: 40px;
    font-size: 14px;
}

.menufooter ul li a {
    color: #636363;
    text-decoration: none;
}

.menufooter li:last-child {
    margin-right: 0;
}

.social-icons {
    margin-left: 20px;
    display: flex;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    display: flex;
}

.creditos {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.logo-footer {
    margin-right: 50px;
}