* {
    margin: 0;
}
a {
    text-decoration: none;
}
/*------------------------Banner Países------------------------*/
.banner-paises img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
/*------------------------Bucas por Países------------------------*/
.cardapio_paises {
    margin-bottom: 30px;
}
.titulocardapio {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 900;
    color: #74A9DB;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.paises-container {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
}
.paises-container p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: bolder;
    color: #959ca3;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}
.paises-container p a {
    text-decoration: none;
    color: inherit;
}
/*------------------------Comidas Container------------------------*/
.container-comidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
    font-family: "inter";
}
.comida {
    width: calc(50% - 20px);
    max-width: 420px;
    text-align: center;
    margin: 5px 0 5px 0;
}
@media screen and (max-width: 1100px) {
    .container-comidas .comida {
        width: 100%;
        margin: 10px auto;
    }
    .container-comidas {
        max-width: 100%;
        height: auto;
    }
    .comida {
        width: 80%;
        height: auto;
    }
    .comida img {
        width: 90%;
        height: auto;
        border-radius: 20px;
    }
    .descricaocomida{
        width: 90%;
        margin: auto auto;
    }
}
.titulocomida {
    text-align: center;
    color: #262626;
    font-size: 39px;
    font-weight: bolder;
    margin: 10px 0;
}
.titulocomida a {
    text-decoration: none;
    color: #262626;
}
.valor {
    text-align: center;
    font-weight: bolder;
    font-size: 19px;
    margin: 10px 0;
}
.AdicionarPedido {
    text-decoration: none;
    border-radius: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: medium;
    padding: 20px 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    background-color: #74A9DB;
    margin-bottom: 20px;
}
.comida button a {
    text-decoration: none;
    background-color: #74A9DB;
    color: #fff;
}
/*------------------------Comidas Container------------------------*/